.App {
  margin : 0;
  padding: 0;
  height:100dvh;
  background-color: #FFFDE7;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  background-image: linear-gradient(rgba(168, 164, 164, 0.6),rgba(204, 199, 199, 0.6)),url("cat.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}



ul{
  list-style: none;
}

.nav-container{
  margin:0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Navbar {
  background-color: rgba(156, 181, 188, 0.558);
  position: relative;

}


a{
  text-decoration:none ;
}


.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.login{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  

}
.login .submit{
  background-color:rgb(181, 208, 179)
}
.login input{
  border: 1px solid rgb(44, 45, 38);

  
}

input{
  margin: auto;
  padding : 6px;
  border : 2px solid gray;
  border-radius: 8px;
  font-size: 15px;
  
}



.navlink{
  color:blue;
  padding: 10px;
  font-size: 20px;
}

.navlink:hover{
  color: red;
}

.catfact{
  padding: 10px;
  font-size: 20px;
  margin-top: 50px;
}

.catbutton{

  width: 80px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(135, 66%, 84%);
  margin-top: 20px;
  
  
}
.catbutton:hover{
  background-color: hsl(135, 66%, 94%);
}

.fact{
  color:rgb(40, 25, 9);
  font-family: sans-serif;
  font-size: 20px;
  padding : 15px;
}

p{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.todo-button{
  font-size: 18px;
  margin-left : 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.addtask input{
  font-size: 18px;
}

.taskname{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: sans-serif;

}

.delbutton{
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}


.homepage h1{
  color:rgb(26, 31, 31)
}
.addtask{
  margin-top: 80px;

}
.addtask h2{
  font-family: sans-serif;
  font-size: 25px;
}


